extends ../layout.jade
block link
  link(type='text/css' rel='stylesheet' href='/fontawesome/css/font-awesome.min.css')
  link(type='text/css' rel='stylesheet' href='/daily-ui/20150128-jquery-dropdown.css')
block script
  script(src='/jquery/dist/jquery.min.js')
  script(src='/daily-ui/20150128-jquery-dropdown.js')
block body
  select
    each v in [1, 2, 3, 4, 5]
      option Item #{v}
  .dropdown
    button Item 1
    button: span.fa.fa-caret-down
    ul.menu
      each v in [1, 2, 3, 4, 5]
        li Item #{v}