extends layout.jade
block stylesheets
  link(rel='stylesheet' href='/stylesheets/daily-ui/20141211-snow.css')
block javascripts
  script(src='/javascripts/daily-ui/20141211-snow.js')
block body
  canvas#snow