extends layout.jade
block stylesheets
  link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='/stylesheets/daily-ui/phone-list.css')
block body
  main.container
    section.row.gallery
      .col-md-3
        .item
          figure
            img(src='/images/phones/dell-venue.0.jpg', alt='')
            figcaption
              p dell-venue
              span.tl
              span.br
        .item
          figure
            img(src='/images/phones/dell-venue.0.jpg', alt='')
            figcaption
              p dell-venue
              span.tl
              span.br
      .col-md-3
        .item
          figure
            img(src='/images/phones/dell-venue.0.jpg', alt='')
            figcaption
              p dell-venue
              span.tl
              span.br
      .col-md-3
        .item
          figure
            img(src='/images/phones/dell-venue.0.jpg', alt='')
            figcaption
              p dell-venue
              span.tl
              span.br
      .col-md-3
        .item-flip
          figure
            img(src='/images/phones/dell-venue.0.jpg', alt='')
            figcaption
              p dell-venue
              span.tl
              span.br
    section ...

