extends layout.jade
block stylesheets
  link(rel='stylesheet' href='/stylesheets/daily-ui/practice.css')
block javascripts
  script(src='/bower_components/angular/angular.min.js')
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/javascripts/daily-ui/practice.js')
block body
  .viewport
    .cube
      .front 1
      .back 2
      .top 3
      .bottom 4
      .left 5
      .right 6
  .panel
  button#show(data-slide) Show
