doctype html
html(lang='en' ng-app='admin')
  head
    meta(charset='UTF-8')
    title GIN - Admin
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/admin.css')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/javascripts/admin/main.js')
  body
    header
      nav.navbar.navbar-default.navbar-fixed-top.container-fluid
        .navbar-brand
          span.glyphicon.glyphicon-menu-hamburger
          a GIN
        .navbar-right
          form.navbar-form
            input.form-control(type='text' placeholder='Search...')
    main
      aside.sidebar
        .admin-info
          .avatar
            img(src='/images/common/avatar.jpg' alt='avatar')
          .body
            h5 John.Smith
            a Sign Out
        .admin-divider
        .admin-menu
          ul.nav
            li: a
              span.glyphicon.glyphicon-dashboard
              span Dashboard
      section.content-wrapper
        .top-bar
          ol.breadcrumb
            li: a.active Dashboard
            li: a {{name}}
        .content
          .row: .col-md-12: .panel.panel-default
            .panel-heading
              h3.panel-title 
                span.glyphicon.glyphicon-leaf
                | Manage Daily UI
            .panel-body
              button.btn.btn-primary(ng-click='add()') Add
              table.table
                tr
                  th #
                  th Name
                  th Action
                tr(ng-repeat='v in list')
                  td {{$index}}
                  td: a(href='{{v.link}}') {{v.label}}
                  td
                    button(ng-click='update($index)') Update
                    button(ng-click='delete($index)') Delete
            .panel-footer
              nav
                ul.pagination
                  li: a 1
