html, body, canvas {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: url(/images/daily-ui/winter_wonderland.jpg) no-repeat;
    background-size: cover;
}

canvas {
    display: block;
    background: hsla(0, 0%, 0%, .25);
}