extends layout.jade
block stylesheets
  link(type='text/css' rel='stylesheet' href='/bower_components/fontawesome/css/font-awesome.min.css')
  link(type='text/css' rel='stylesheet' href='/stylesheets/daily-ui/20150128-jquery-dropdown.css')
block javascripts
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/javascripts/daily-ui/20150128-jquery-dropdown.js')
block body
  select
    each v in [1, 2, 3, 4, 5]
      option Item #{v}
  .dropdown
    button Item 1
    button: span.fa.fa-caret-down
    ul.menu
      each v in [1, 2, 3, 4, 5]
        li Item #{v}