extends ../layout.jade
block link
  link(rel='stylesheet' href='/fontawesome/css/font-awesome.min.css')
  link(rel='stylesheet' href='/daily-ui/20150129-material-design-menu.css')
block script
  script(src='/jquery/dist/jquery.min.js')
  script(src='/daily-ui/20150129-material-design-menu.js')
block body
  header
    nav: ul
      li Home
      li Blog
      li About
      li Contact
    .switch
      .overlay
      a.fa.fa-bars(href='#' onclick='return false;')
      a.fa.fa-arrow-right(href='#' onclick='return false;')
  main.container
    p The difference between a master and beginner is that the master has <em>failed</em> more times than the beginner has even tried.