extends ../layout.jade
block stylesheet
  link(rel='stylesheet' href='/daily-ui/20141211-snow/20141211-snow.css')
block script
  script(src='/daily-ui/20141211-snow/20141211-snow.js')
block body
  canvas#snow