.img-wrapper
  img.phone(ng-src="{{mainImageUrl}}")
  ul.phone-thumbs: li(ng-repeat="img in phone.images")
    a(href="#", onclick="return false;", ng-click="changeImage(img);"): img(ng-src="{{img}}")
.intro.clearfix
  h1 {{phone.name}}
  p {{phone.description}}
ul.specs.clearfix
  li
    span Availability and Networks
    dl
      dt Availability
      dd(ng-repeat="availability in phone.availability") {{availability}}
  li
    span Additional Features
    dd {{phone.additionalFeatures}}
  li
    span Connectivity
    dl
      dt GPS
      dd {{phone.connectivity.gps | checkmark}}
      dt Infrared
      dd {{phone.connectivity.infrared | checkmark}}