extends ../layout.jade
block link
  link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='/daily-ui/20150303-timeline.css')
block body
  ul.timeline
    li
      .item
        .item-icon
          span.glyphicon.glyphicon-star
        .item-head
          h2 Head 1
          span.date 2015-03-03
        .item-body
          p hello
          div: a(href='#' onclick='return false;') link..
        .item-foot
          div footer
    li
      .item
        .item-icon
          span.glyphicon.glyphicon-star
        .item-head
          h2 Head 2
          span.date 2015-03-03
        .item-body
          p hello
          div: a(href='#' onclick='return false;') link..
        .item-foot
          div footer
    li
      .item
        .item-icon
          span.glyphicon.glyphicon-star
        .item-head
          h2 Head 3
          span.date 2015-03-03
        .item-body
          p hello
          div: a(href='#' onclick='return false;') link..
        .item-foot
          div footer
